<div class="container-formacao">
    <h1>FORMAÇÃO</h1>
    <hr>
    <div class="card-formacao">
        <h1>ANÁLISE E DESENVOLVIMENTO DE SISTEMAS</h1>
        <hr>
        <h3>UNINTER</h3>
        <h6>ENSINO SUPERIOR</h6>
        <p><strong>EM CURSO</strong></p>
    </div>
    <div class="card-formacao">
        <h1>ENSINO MÉDIO</h1>
        <hr>
        <h3>CENTRO MUNICIPAL DE ENSINO JOAQUIM DOMINGOS SIMÕES</h3>
        <h6>ENSINO MÉDIO</h6>
        <p><strong>CONCLUÍDO</strong></p>
    </div>
</div>
