<div class="container">
    <div class="card">
        <img src="../../DaniloTomassoni/img/foto_perfil.jpg" alt="foto perfil">
    </div>
    <h1>DANILO AUGUSTO TOMASSONI</h1>
    
    <p class="titulo">DESENVOLVEDOR BACK-END EM FORMAÇÃO | JAVA | SPRING BOOT | SQL | NOSQL | REDES DE COMPUTADORES.</p>
    <h3>SOBRE MIN</h3>
    <hr>
    <p>Sou natural de Santa Rita do Sapucaí (MG), tenho 28 anos e sou pai da Maria Cecília. Atuo no setor de comércio alimentício, com foco em padaria e confeitaria, onde desenvolvi habilidades práticas, técnicas e de gestão, sempre comprometido com a qualidade e com o cumprimento das normas sanitárias.</p>
    <!--Foto de <a href="https://unsplash.com/pt-br/@kiboka?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Nadya Spetnitskaya</a> na <a href="https://unsplash.com/pt-br/fotografias/pessoa-que-faz-massa-ao-lado-de-rolo-de-madeira-marrom-tOYiQxF9-Ys?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>-->
    <div class="card">
        <img src="../../DaniloTomassoni/img/imagen001.jpg" alt="imagen">
    </div>
    <p>Paralelamente, sou apaixonado por tecnologia. Nas horas vagas, estudo e pratico lógica de programação, redes de computadores, bancos de dados (SQL,NoSQL) e desenvolvimento de aplicações com Java utilizando o ecossistema Spring (Spring Framework e Spring Boot). Busco transição ou expansão profissional para a área de tecnologia, unindo minha experiência prática à constante evolução técnica.</p>
    <div class="card"><img src="../../DaniloTomassoni/img/imagen002.jpg" alt="imagen"></div>
</div>